/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) Container that consists of of a page header title and description
 */

 /**
  * Page header
  */
.c-page-header {
 	background-color: $primary-blue;
  margin: -1rem -1rem 0 -1rem;
  padding: 1rem 1rem 0 1rem;
 }

/**
 * Page header title
 */
.c-page-header__title {
	margin-bottom: 0.2rem;
	color: white;
}

/**
 * Page description
 */
.c-page-header__desc {
    margin-bottom: 2rem;
    padding-bottom: 20px;
    font-size: $font-size-med-2;
    color: $color-gray-27;
    max-width: $l-max-width-narrow;
}
